<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Videos"} %>

<table class="index sortable">
  <tr>
    <th><%= t("youtube_ref") %></th>
  </tr>

  <% @product.videos.each do |video| %>
    <tr id="<%= dom_id(video) %>">
      <td>
        <span class="handle">
        	Youtube Ref: <%= link_to "http://www.youtube.com/embed/#{video.youtube_ref}", "http://www.youtube.com/embed/#{video.youtube_ref}" %>
        </span>
        <%= content_tag(:iframe,'', width: 300, height: 200, src: "http://www.youtube.com/embed/#{video.youtube_ref}") %>
      </td>
      <td class="actions">
        <%= link_to_with_icon('edit', t("edit"), edit_admin_product_video_url(@product, video), :class => 'edit') %>
        <%= link_to_delete video, {:url => admin_product_video_url(@product, video) }%>
      </td>
    </tr>
  <% end %>
</table>

<div id="video"></div>
<br/>
<p>
    <%= link_to icon('add') + ' ' + t("new_video"), new_admin_product_video_url(@product), :id => "new_video_link", :class => "btn btn-primary" %>
</p>
